package slides

templ Agenda(isPresenter bool) {
	<div class="slide">
		<h1>Aenda</h1>
		<ul>
			<li>Who are we?</li>
			<li>Next.js</li>
			<li>Go, Nats, Datastar, Sqlite</li>
		</ul>
	</div>
	if isPresenter {
		@agendaPresenterNotes()
	}
}

templ agendaPresenterNotes() {
	<div class="presenter-notes">
		This is a an example of presenter note.
	</div>
}
