:root {
	--color-text-strong: #f1f3f9;
	--color-text-soft: #ccd1e9;
	--color-text-soft-50: hsl(from var(--color-text-soft) h s l / 50%);

	--color-primary-text: var(--color-text-soft);

	--color-bg-base: #1a1b26;

	@view-transition {
		navigation: Auto;
	}


	html {
		color-scheme: dark;
		height: 100%;
	}

	body {
		min-height: 100%;
		margin: 0;
		background: var(--color-bg-base);
		color: var(--color-primary-text);
	}

	.root-page {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	.root-main {
		flex: 1;
		padding: 1rem;
	}

	.emoji-bar {
		position: sticky;
		bottom: 0;

		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;

		padding: 0.75rem 1rem;

		background: hsl(from var(--color-bg-base) h s l / 90%);
		backdrop-filter: blur(8px);

		border-top: 1px solid var(--color-text-soft-50);
	}
}
